@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Electrolize', sans-serif;
}

body {
    background: linear-gradient(180deg, rgba(9,6,36,1) 0%, rgba(41,35,99,1) 100%);
}

img {
    width: 120px;
}

.main {
    margin: 0 15%;
    width: 70vw;
    background: white;
    height: 100vh;
}

.points__container {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid grey;
    padding: 2vw;
    margin: 2vw 4vw;
    align-items: center;
}

.game__player,
.game__computer {
    display: flex;
    flex-direction: column;
    visibility: hidden;
}
.game__player img{
    border:3px solid transparent;
}
.game__computer {
    border:3px solid transparent;
}
.game__clock h1 {
    font-size: 2.2rem;
/*    visibility: hidden;*/
}


.points__player p,
.points__computer p {
    font-size: 2.5rem;
}

.game__btns {
    display: flex;
    justify-content: space-around;
}

.game__btn {
    padding: 2vw 5vw;
    font-size: 1.3rem;
    background: #25AF53;
    border: 0px;
    color: white;
}

.game__btn:not(.btn__play){
    display: none;
}

.btn__play {
animation: selecting 0.5s linear ;
}
/*animations*/
@keyframes jump {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    
    50% {
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes selecting {
    0% {
        background-color: lightseagreen;
        opacity: 1;
    }
    25% {
        background-color: lightseagreen;
        opacity: 0;
    }
    50% {
        background-color: lightseagreen;
        opacity: 1;
    }
    75% {
        background-color: lightseagreen;
        opacity: 0;
    }
    100% {
        background-color: lightseagreen;
        opacity: 1;
    }
}